@model UserViewModel

<tr>
    <td>
        @Model.UserName
    </td>
    <td>
        @Model.PhoneNumber
    </td>
    <td>
        @Model.City
    </td>
    <td>
        @Model.PostalCode
    </td>
    <td>
        @Model.State
    </td>
    <td>
        @Model.StreetAddress
    </td>

    <td>
        @Model.Name
    </td>
    <td></td>
</tr>